marquee{
    font-size: 30px;
    color:red;
    background-color: skyblue;
    position: sticky;
    top: 0px;
    z-index: 2;
    border-radius: 10px;
}
body{
    background-color:rosybrown;
}

#Website_name{
    text-align: center;
    font-size: 50px;

    /* Horizontal Vertical blurness colour */
    text-shadow: 5px 2px 10px cyan;
}

/* #logo{
    background-color: white;
    opacity: 0.8;
} */

a img{
    width:20%;
    height:20%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

h2{
    text-align: center;
    border:5px solid red;
    border-radius: 25px;
    position: relative;
    background-color: white;
    /* max-width: 30%; */
    /* opacity: 0.9; */
}


ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

li.nav-bar{
    display: inline;
    text-align: center;
    font-size: large;
    font-style: italic;

    padding: 10px;
    border-style: solid;
    border-width: 4px 4px;
    border-color: lightblue lawngreen;
    border-radius: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.center-links{
    text-align: center;
    display: block;
}




/* Default setting for links */
a:link{
    text-align: center;

    color: green;
    text-decoration: none;
    font-size: large;
}
/* Links visited will have these settings */
a:visited {
    color: indigo;
    text-decoration: none;
    background-color: transparent;
}
/* Mouse hovers over the link and it changes colour */
a:hover {
    background-color: transparent;
    color: red;
    text-decoration: underline;
}
/* Active means while the link is being clicked on(Press and hold) */
a:active{
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}



h2.solid{
    /* Horizontal Vertical blurness colour */
    text-shadow: 2px 2px 5px rgb(172, 172, 172);

    border-style: solid;
    border-top-style: dotted;
    border-width: 3px 7px;
    border-color: rgb(68, 122, 221) lawngreen;
}



.linkss{
    font-weight: bold;

    padding: 7px;
    border-style: solid;
    /* border-top-style: dotted;
    border-bottom-style: dotted; */
    /* Top & bottom, right & left */
    border-width: 4px 4px;
    /* Top & bottom, right & left */
    border-color: lightblue lawngreen;
    border-radius: 30px;
}

iframe{
    padding-left: 55px;
}

div#chat-box-div{
    background-color: skyblue;
    position: fixed;
    right: 0px;
    bottom: 0px;
    /* height: 5%; */
    padding: 3px;
    border-radius: 7px;
}
