/* Body */
body{
    background-color: bisque;
}

/* Header */
h1{
    text-align: center;
}



/* Table */
table{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    background-color: grey;
    /* border: 2px solid gray; */
    border-spacing: 3px;
    /* border: 2px solid black; */
}

tr,td{
    background-color: skyblue;
    padding: 15px;
    font-size: large;
}

th{
    font-size: larger;
}

/* image in the table */
a img{
    width:355px;
    height:200px;
}

a img:hover{
    transform: scale(1.4);
    transition-duration: 2s;
}


/* Links */
/* Default setting for links */
a:link{
    text-align: center;

    color: green;
    text-decoration: none;
    font-size: large;
}
/* Links visited will have these settings */
a:visited {
    color: indigo;
    text-decoration: none;
    background-color: transparent;
}
/* Mouse hovers over the link and it changes colour */
a:hover {
    background-color: transparent;
    color: red;
    text-decoration: underline;
}
/* Active means while the link is being clicked on(Press and hold) */
a:active{
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}